<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Aliance.NET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Aliance.NET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Aliance.NET.Properties.Settings>
            <setting name="CULTURA" serializeAs="String">
                <value>pt-BR</value>
            </setting>
            <setting name="DT_SERVIDOR" serializeAs="String">
                <value />
            </setting>
            <setting name="SERVIDOR_BD" serializeAs="String">
                <value />
            </setting>
            <setting name="BANCO_DADOS" serializeAs="String">
                <value />
            </setting>
        </Aliance.NET.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Aliance.NET.Properties.Settings>
            <setting name="Aliance_NET_WS_HelpDesk_WS_HelpDesk" serializeAs="String">
                <value>http://192.9.100.254/ws_helpdesk/WS_HelpDesk.asmx</value>
            </setting>
            <setting name="Aliance_NET_WS_Licenca_WS_Licenca" serializeAs="String">
                <value>http://localhost/ws_licenca/WS_Licenca.asmx</value>
            </setting>
        </Aliance.NET.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>