<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="PerpetuumSoft.Framework" publicKeyToken="8A6AE0A3E67829B5" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.2" newVersion="4.0.3.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PerpetuumSoft.Reporting" publicKeyToken="8A6AE0A3E67829B5" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.2" newVersion="4.0.3.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PerpetuumSoft.Reporting.Export.Pdf" publicKeyToken="8A6AE0A3E67829B5" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.2" newVersion="4.0.3.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PerpetuumSoft.Writers.Pdf" publicKeyToken="8A6AE0A3E67829B5" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.2" newVersion="4.0.3.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PerpetuumSoft.Instrumentation" publicKeyToken="8A6AE0A3E67829B5" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.2" newVersion="4.0.3.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PerpetuumSoft.Charts" publicKeyToken="8A6AE0A3E67829B5" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.2" newVersion="4.0.3.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PerpetuumSoft.Framework.Model" publicKeyToken="8A6AE0A3E67829B5" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.2" newVersion="4.0.3.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
