<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Help.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CON_ALIANCE_WORK" connectionString="metadata=res://*/MD_HelpDesk.csdl|res://*/MD_HelpDesk.ssdl|res://*/MD_HelpDesk.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SERVER-TECNO;Initial Catalog=ALIANCE_WORK;Persist Security Info=True;User ID=master;Password=Tecno2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <Help.Properties.Settings>
      <setting name="Help_WS_HelpDesk_WS_HelpDesk" serializeAs="String">
        <value>http://localhost:1115/WS_HelpDesk.asmx</value>
      </setting>
    </Help.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>