<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IntegraService.configIntegracao" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IntegraService.configIntegracao>
            <setting name="cd_empresa" serializeAs="String">
                <value />
            </setting>
            <setting name="nm_empresa" serializeAs="String">
                <value />
            </setting>
            <setting name="cd_tabelapreco" serializeAs="String">
                <value />
            </setting>
            <setting name="ds_tabelapreco" serializeAs="String">
                <value />
            </setting>
            <setting name="path_arquivo" serializeAs="String">
                <value />
            </setting>
        </IntegraService.configIntegracao>
    </userSettings>
</configuration>