<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CTe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CTe.Properties.Settings>
            <setting name="CTe_br_gov_pr_fazenda_cte_Recepcao_CteRecepcao" serializeAs="String">
                <value>https://cte.fazenda.pr.gov.br/cte/CteRecepcao</value>
            </setting>
            <setting name="CTe_br_gov_pr_fazenda_cte_RetRecepcao_CteRetRecepcao" serializeAs="String">
                <value>https://cte.fazenda.pr.gov.br/cte/CteRetRecepcao</value>
            </setting>
            <setting name="CTe_br_gov_pr_fazenda_cte_Inutilizacao_CteInutilizacao" serializeAs="String">
                <value>https://cte.fazenda.pr.gov.br/cte/CteInutilizacao</value>
            </setting>
            <setting name="CTe_br_gov_pr_fazenda_cte_Consulta_CteConsulta" serializeAs="String">
                <value>https://cte.fazenda.pr.gov.br/cte/CteConsulta</value>
            </setting>
            <setting name="CTe_br_gov_pr_fazenda_cte_Status_CteStatusServico" serializeAs="String">
                <value>https://cte.fazenda.pr.gov.br/cte/CteStatusServico</value>
            </setting>
            <setting name="CTe_br_gov_pr_fazenda_cte_homologacao_Recepcao_CteRecepcao" serializeAs="String">
                <value>https://homologacao.cte.fazenda.pr.gov.br/cte/CteRecepcao</value>
            </setting>
            <setting name="CTe_br_gov_pr_fazenda_cte_homologacao_RetRecepcao_CteRetRecepcao" serializeAs="String">
                <value>https://homologacao.cte.fazenda.pr.gov.br/cte/CteRetRecepcao</value>
            </setting>
            <setting name="CTe_br_gov_pr_fazenda_cte_homologacao_Inutilizacao_CteInutilizacao" serializeAs="String">
                <value>https://homologacao.cte.fazenda.pr.gov.br/cte/CteInutilizacao</value>
            </setting>
            <setting name="CTe_br_gov_pr_fazenda_cte_homologacao_Consulta_CteConsulta" serializeAs="String">
                <value>https://homologacao.cte.fazenda.pr.gov.br/cte/CteConsulta</value>
            </setting>
            <setting name="CTe_br_gov_pr_fazenda_cte_homologacao_Status_CteStatusServico" serializeAs="String">
                <value>https://homologacao.cte.fazenda.pr.gov.br/cte/CteStatusServico</value>
            </setting>
            <setting name="CTe_br_gov_pr_fazenda_cte_Evento_CteRecepcaoEvento" serializeAs="String">
                <value>https://cte.fazenda.pr.gov.br/cte/CteRecepcaoEvento</value>
            </setting>
            <setting name="CTe_br_gov_pr_fazenda_cte_homologacao_Evento_CteRecepcaoEvento" serializeAs="String">
                <value>https://homologacao.cte.fazenda.pr.gov.br/cte/CteRecepcaoEvento</value>
            </setting>
            <setting name="CTe_br_gov_sp_fazenda_nfe_SVCRecepcao_CteRecepcao" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/cteWEB/services/CteRecepcao.asmx</value>
            </setting>
            <setting name="CTe_br_gov_sp_fazenda_nfe_SVCRetRecepcao_CteRetRecepcao" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/cteWEB/services/CteRetRecepcao.asmx</value>
            </setting>
            <setting name="CTe_br_gov_sp_fazenda_nfe_SVCStatusServico_CteStatusServico" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/cteWEB/services/CteStatusServico.asmx</value>
            </setting>
            <setting name="CTe_br_gov_mt_sefaz_cte_Recepcao_CteRecepcao" serializeAs="String">
                <value>https://cte.sefaz.mt.gov.br/ctews/services/CteRecepcao</value>
            </setting>
            <setting name="CTe_br_gov_mt_sefaz_cte_RetRecepcao_CteRetRecepcao" serializeAs="String">
                <value>https://cte.sefaz.mt.gov.br/ctews/services/CteRetRecepcao</value>
            </setting>
            <setting name="CTe_br_gov_mt_sefaz_cte_Inutilizacao_CteInutilizacao" serializeAs="String">
                <value>https://cte.sefaz.mt.gov.br/ctews/services/CteInutilizacao</value>
            </setting>
            <setting name="CTe_br_gov_mt_sefaz_cte_Consulta_CteConsulta" serializeAs="String">
                <value>https://cte.sefaz.mt.gov.br/ctews/services/CteConsulta</value>
            </setting>
            <setting name="CTe_br_gov_mt_sefaz_cte_StatusServico_CteStatusServico" serializeAs="String">
                <value>https://cte.sefaz.mt.gov.br/ctews/services/CteStatusServico</value>
            </setting>
            <setting name="CTe_br_gov_mt_sefaz_cte_Evento_CteRecepcaoEvento" serializeAs="String">
                <value>https://cte.sefaz.mt.gov.br/ctews2/services/CteRecepcaoEvento</value>
            </setting>
            <setting name="CTe_br_gov_ms_cte_producao_Recepcao_CteRecepcao" serializeAs="String">
                <value>https://producao.cte.ms.gov.br/cteWEB/CteRecepcao.asmx</value>
            </setting>
            <setting name="CTe_br_gov_ms_cte_producao_RetRecepcao_CteRetRecepcao" serializeAs="String">
                <value>https://producao.cte.ms.gov.br/cteWEB/CteRetRecepcao.asmx</value>
            </setting>
            <setting name="CTe_br_gov_ms_cte_producao_Inutilizacao_CteInutilizacao" serializeAs="String">
                <value>https://producao.cte.ms.gov.br/cteWEB/CteInutilizacao.asmx</value>
            </setting>
            <setting name="CTe_br_gov_ms_cte_producao_Consulta_CteConsulta" serializeAs="String">
                <value>https://producao.cte.ms.gov.br/cteWEB/CteConsulta.asmx</value>
            </setting>
            <setting name="CTe_br_gov_ms_cte_producao_StatusServico_CteStatusServico" serializeAs="String">
                <value>https://producao.cte.ms.gov.br/cteWEB/CteStatusServico.asmx</value>
            </setting>
            <setting name="CTe_br_gov_ms_cte_producao_Evento_CteRecepcaoEvento" serializeAs="String">
                <value>https://producao.cte.ms.gov.br/cteWEB/CteRecepcaoEvento.asmx</value>
            </setting>
            <setting name="CTe_br_gov_mg_fazenda_cte_Recepcao_CteRecepcao" serializeAs="String">
                <value>https://cte.fazenda.mg.gov.br/cte/services/CteRecepcao</value>
            </setting>
            <setting name="CTe_br_gov_mg_fazenda_cte_RetRecepcao_CteRetRecepcao" serializeAs="String">
                <value>https://cte.fazenda.mg.gov.br/cte/services/CteRetRecepcao</value>
            </setting>
            <setting name="CTe_br_gov_mg_fazenda_cte_Inutilizacao_CteInutilizacao" serializeAs="String">
                <value>https://cte.fazenda.mg.gov.br/cte/services/CteInutilizacao</value>
            </setting>
            <setting name="CTe_br_gov_mg_fazenda_cte_Consulta_CteConsulta" serializeAs="String">
                <value>https://cte.fazenda.mg.gov.br/cte/services/CteConsulta</value>
            </setting>
            <setting name="CTe_br_gov_mg_fazenda_cte_StatusServico_CteStatusServico" serializeAs="String">
                <value>https://cte.fazenda.mg.gov.br/cte/services/CteStatusServico</value>
            </setting>
            <setting name="CTe_br_gov_mg_fazenda_cte_Evento_RecepcaoEvento" serializeAs="String">
                <value>https://cte.fazenda.mg.gov.br/cte/services/RecepcaoEvento</value>
            </setting>
            <setting name="CTe_br_gov_rs_sefaz_cte_Recepcao_CteRecepcao" serializeAs="String">
                <value>https://cte.sefaz.rs.gov.br/ws/cterecepcao/CteRecepcao.asmx</value>
            </setting>
            <setting name="CTe_br_gov_rs_sefaz_cte_RetRecepcao_CteRetRecepcao" serializeAs="String">
                <value>https://cte.sefaz.rs.gov.br/ws/cteretrecepcao/CteRetRecepcao.asmx</value>
            </setting>
            <setting name="CTe_br_gov_rs_sefaz_cte_Inutilizacao_CteInutilizacao" serializeAs="String">
                <value>https://cte.sefaz.rs.gov.br/ws/cteinutilizacao/cteinutilizacao.asmx</value>
            </setting>
            <setting name="CTe_br_gov_rs_sefaz_cte_Consulta_CteConsulta" serializeAs="String">
                <value>https://cte.sefaz.rs.gov.br/ws/cteconsulta/cteconsulta.asmx</value>
            </setting>
            <setting name="CTe_br_gov_rs_sefaz_cte_StatusServico_CteStatusServico" serializeAs="String">
                <value>https://cte.sefaz.rs.gov.br/ws/ctestatusservico/ctestatusservico.asmx</value>
            </setting>
            <setting name="CTe_br_gov_rs_sefaz_cte_Evento_CteRecepcaoEvento" serializeAs="String">
                <value>https://cte.sefaz.rs.gov.br/ws/cterecepcaoevento/cterecepcaoevento.asmx</value>
            </setting>
            <setting name="CTe_br_gov_sp_fazenda_nfe_Inutilizacao_CteInutilizacao" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/cteWEB/services/cteInutilizacao.asmx</value>
            </setting>
            <setting name="CTe_br_gov_sp_fazenda_nfe_Evento_CteRecepcaoEvento" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/cteweb/services/cteRecepcaoEvento.asmx</value>
            </setting>
            <setting name="CTe_br_gov_sp_fazenda_nfe_homologacao_Recepcao_CteRecepcao" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteRecepcao.asmx</value>
            </setting>
            <setting name="CTe_br_gov_sp_fazenda_nfe_homologacao_RetRecepcao_CteRetRecepcao" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteRetRecepcao.asmx</value>
            </setting>
            <setting name="CTe_br_gov_sp_fazenda_nfe_homologacao_Inutilizacao_CteInutilizacao" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteInutilizacao.asmx</value>
            </setting>
            <setting name="CTe_br_gov_sp_fazenda_nfe_homologacao_StatusServico_CteStatusServico" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteStatusServico.asmx</value>
            </setting>
            <setting name="CTe_br_gov_sp_fazenda_nfe_homologacao_Evento_CteRecepcaoEvento" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/cteweb/services/cteRecepcaoEvento.asmx</value>
            </setting>
            <setting name="CTe_br_gov_rs_sefaz_cte_homologacao_Recepcao_CteRecepcao" serializeAs="String">
                <value>https://homologacao.cte.sefaz.rs.gov.br/ws/cterecepcao/CteRecepcao.asmx</value>
            </setting>
            <setting name="CTe_br_gov_rs_sefaz_cte_homologacao_RetRecepcao_CteRetRecepcao" serializeAs="String">
                <value>https://homologacao.cte.sefaz.rs.gov.br/ws/cteretrecepcao/CteRetRecepcao.asmx</value>
            </setting>
            <setting name="CTe_br_gov_rs_sefaz_cte_homologacao_Inutilizacao_CteInutilizacao" serializeAs="String">
                <value>https://homologacao.cte.sefaz.rs.gov.br/ws/cteinutilizacao/cteinutilizacao.asmx</value>
            </setting>
            <setting name="CTe_br_gov_rs_sefaz_cte_homologacao_StatusServico_CteStatusServico" serializeAs="String">
                <value>https://homologacao.cte.sefaz.rs.gov.br/ws/ctestatusservico/ctestatusservico.asmx</value>
            </setting>
            <setting name="CTe_br_gov_rs_sefaz_cte_homologacao_Evento_CteRecepcaoEvento" serializeAs="String">
                <value>https://homologacao.cte.sefaz.rs.gov.br/ws/cterecepcaoevento/cterecepcaoevento.asmx</value>
            </setting>
        </CTe.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>