<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MDFe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MDFe.Properties.Settings>
            <setting name="MDFe_br_gov_rs_svrs_mdfe_homolog_RecLote_MDFeRecepcao" serializeAs="String">
                <value>https://mdfe-homologacao.svrs.rs.gov.br/ws/MDFerecepcao/MDFeRecepcao.asmx</value>
            </setting>
            <setting name="MDFe_br_gov_rs_svrs_mdfe_homolog_RetRec_MDFeRetRecepcao" serializeAs="String">
                <value>https://mdfe-homologacao.svrs.rs.gov.br/ws/MDFeRetRecepcao/MDFeRetRecepcao.asmx</value>
            </setting>
            <setting name="MDFe_br_gov_rs_svrs_mdfe_homolog_RecEvento_MDFeRecepcaoEvento" serializeAs="String">
                <value>https://mdfe-homologacao.svrs.rs.gov.br/ws/MDFeRecepcaoEvento/MDFeRecepcaoEvento.asmx</value>
            </setting>
            <setting name="MDFe_br_gov_rs_svrs_mdfe_homolog_Consulta_MDFeConsulta" serializeAs="String">
                <value>https://mdfe-homologacao.svrs.rs.gov.br/ws/MDFeConsulta/MDFeConsulta.asmx</value>
            </setting>
            <setting name="MDFe_br_gov_rs_svrs_mdfe_homolog_Status_MDFeStatusServico" serializeAs="String">
                <value>https://mdfe-homologacao.svrs.rs.gov.br/ws/MDFeStatusServico/MDFeStatusServico.asmx</value>
            </setting>
            <setting name="MDFe_br_gov_rs_svrs_mdfe_homolog_ConsNaoEnc_MDFeConsNaoEnc" serializeAs="String">
                <value>https://mdfe-homologacao.svrs.rs.gov.br/ws/MDFeConsNaoEnc/MDFeConsNaoEnc.asmx</value>
            </setting>
            <setting name="MDFe_br_gov_rs_svrs_mdfe_RecLote_MDFeRecepcao" serializeAs="String">
                <value>https://mdfe.svrs.rs.gov.br/ws/MDFerecepcao/MDFeRecepcao.asmx</value>
            </setting>
            <setting name="MDFe_br_gov_rs_svrs_mdfe_RetRec_MDFeRetRecepcao" serializeAs="String">
                <value>https://mdfe.svrs.rs.gov.br/ws/MDFeRetRecepcao/MDFeRetRecepcao.asmx</value>
            </setting>
            <setting name="MDFe_br_gov_rs_svrs_mdfe_RecEvento_MDFeRecepcaoEvento" serializeAs="String">
                <value>https://mdfe.svrs.rs.gov.br/ws/MDFeRecepcaoEvento/MDFeRecepcaoEvento.asmx</value>
            </setting>
            <setting name="MDFe_br_gov_rs_svrs_mdfe_Consulta_MDFeConsulta" serializeAs="String">
                <value>https://mdfe.svrs.rs.gov.br/ws/MDFeConsulta/MDFeConsulta.asmx</value>
            </setting>
            <setting name="MDFe_br_gov_rs_svrs_mdfe_Status_MDFeStatusServico" serializeAs="String">
                <value>https://mdfe.svrs.rs.gov.br/ws/MDFeStatusServico/MDFeStatusServico.asmx</value>
            </setting>
            <setting name="MDFe_br_gov_rs_svrs_mdfe_ConsNaoEnc_MDFeConsNaoEnc" serializeAs="String">
                <value>https://mdfe.svrs.rs.gov.br/ws/MDFeConsNaoEnc/MDFeConsNaoEnc.asmx</value>
            </setting>
        </MDFe.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>