<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NFCe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NFCe.Properties.Settings>
            <setting name="NFCe_br_gov_pr_fazenda_nfce_Autoriza_NfeAutorizacao3" serializeAs="String">
                <value>https://nfce.fazenda.pr.gov.br/nfce/NFeAutorizacao3</value>
            </setting>
            <setting name="NFCe_br_gov_pr_fazenda_nfce_RetAutoriza_NfeRetAutorizacao3" serializeAs="String">
                <value>https://nfce.fazenda.pr.gov.br/nfce/NFeRetAutorizacao3</value>
            </setting>
            <setting name="NFCe_br_gov_pr_fazenda_nfce_ConsultaChave_NfeConsulta3" serializeAs="String">
                <value>https://nfce.fazenda.pr.gov.br/nfce/NFeConsulta3</value>
            </setting>
            <setting name="NFCe_br_gov_pr_fazenda_nfce_Inutiliza_NfeInutilizacao3" serializeAs="String">
                <value>https://nfce.fazenda.pr.gov.br/nfce/NFeInutilizacao3</value>
            </setting>
            <setting name="NFCe_br_gov_pr_fazenda_nfce_StatusServico_NfeStatusServico3" serializeAs="String">
                <value>https://nfce.fazenda.pr.gov.br/nfce/NFeStatusServico3</value>
            </setting>
            <setting name="NFCe_br_gov_pr_fazenda_nfce_Evento_RecepcaoEvento" serializeAs="String">
                <value>https://nfce.fazenda.pr.gov.br/nfce/NFeRecepcaoEvento</value>
            </setting>
            <setting name="NFCe_br_gov_pr_fazenda_nfce_homologacao_Autoriza_NfeAutorizacao3" serializeAs="String">
                <value>https://homologacao.nfce.fazenda.pr.gov.br/nfce/NFeAutorizacao3</value>
            </setting>
            <setting name="NFCe_br_gov_pr_fazenda_nfce_homologacao_RetAutoriza_NfeRetAutorizacao3" serializeAs="String">
                <value>https://homologacao.nfce.fazenda.pr.gov.br/nfce/NFeRetAutorizacao3</value>
            </setting>
            <setting name="NFCe_br_gov_pr_fazenda_nfce_homologacao_ConsultaChave_NfeConsulta3" serializeAs="String">
                <value>https://homologacao.nfce.fazenda.pr.gov.br/nfce/NFeConsulta3</value>
            </setting>
            <setting name="NFCe_br_gov_pr_fazenda_nfce_homologacao_Inutiliza_NfeInutilizacao3" serializeAs="String">
                <value>https://homologacao.nfce.fazenda.pr.gov.br/nfce/NFeInutilizacao3</value>
            </setting>
            <setting name="NFCe_br_gov_pr_fazenda_nfce_homologacao_StatusServico_NfeStatusServico3" serializeAs="String">
                <value>https://homologacao.nfce.fazenda.pr.gov.br/nfce/NFeStatusServico3</value>
            </setting>
            <setting name="NFCe_br_gov_pr_fazenda_nfce_homologacao_Evento_RecepcaoEvento" serializeAs="String">
                <value>https://homologacao.nfce.fazenda.pr.gov.br/nfce/NFeRecepcaoEvento</value>
            </setting>
        </NFCe.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>